{% extends "CASTORFrontBundle::layout.html.twig" %}

{% block title %}
    Presentation
{% endblock %}

{% block content %}
    <div class="clearfix"></div>

    <div class="page_title2">
        <div class="container">

            <div class="title"><h1>Gallerie Photo</h1></div>

            <div class="pagenation">&nbsp;<a href="index.html">Acceuil</a> <i>/</i> <a href="#">Gallerie</a> </div>

        </div>
    </div><!-- end page title -->

    <div class="clearfix"></div>

    <div class="features_sec20">
        <div class="container">

            <div id="filters-container" class="cbp-l-filters-alignCenter">
                <button data-filter="*" class="cbp-filter-item-active cbp-filter-item">Tous</button>
                <button data-filter=".identity" class="cbp-filter-item">Vie Scolaire</button>
                <button data-filter=".web-design" class="cbp-filter-item">Sport</button>
                <button data-filter=".graphic" class="cbp-filter-item">Extra Scolaire</button>
            </div>

            <div id="grid-container" class="cbp-l-grid-projects four">

                <ul>
                    <li class="cbp-item graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Took a galley<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">took a galley</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item web-design logo">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Evolved Over<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">evolved over</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item graphic logo">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Packages Info<br>by GSRthemes9">view video</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">packages info</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item web-design graphic">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Software Like<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">software like</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="From Sections<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">from sections</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dapibus Placerat<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Dapibus Placerat</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Aliquam Rhoncus<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Aliquam Rhoncus</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Lectus Commodo<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Lectus Commodo</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Magna Tempus Urna<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Magna Tempus Urna</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Neque Fermentum<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Neque Fermentum</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Scelerisque Metus<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">Scelerisque Metus</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                    <li class="cbp-item identity web-design">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="http://placehold.it/800x600" alt="" />
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <a href="portfolio-one.html" class="cbp-l-caption-buttonLeft">more info</a>
                                        <a href="http://placehold.it/800x600" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="The Industry<br>by GSRthemes9">view larger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="threeborder"><div class="cbp-l-grid-projects-title">the industry</div><div class="cbp-l-grid-projects-desc">Lorem Ipsum passages</div></div>
                    </li>

                </ul>
            </div>
            <div class="cbp-l-loadMore-text">
                <div data-href="#" class="cbp-l-loadMore-text-link"></div>
            </div>

        </div>
    </div><!-- end content area -->

    <div class="clearfix"></div>
{% endblock %}