<!-- Menu -->
<div class="menu_main">

    <div class="navbar yamm navbar-default">

        <div class="container">
            <div class="navbar-header">
                <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>
                    <button type="button" > <i class="fa fa-bars"></i></button>
                </div>
            </div>

            <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">

                <ul class="nav navbar-nav">

                    <li><a href="{{ path('castor_front_homepage1') }}" class="active"><i class="fa fa-home"></i> Acceuil</a></li>

                    <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-leaf"></i> A Propos</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('castor_front_presentation') }}">Presentation</a> </li>
                            <li><a href="index-1.html">Missions & Visions</a> </li>
                            <li><a href="index-2.html">Nos Meilleurs Eleves</a> </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw"> <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-paper-plane"></i> Vie Scolaire</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">

                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                            <li>
                                                <p>A Propos</p>
                                            </li>
                                            <li>
                                                <img src="http://placehold.it/189x120" alt="" class="img_left4" />
                                                Latin words, combined with an handful of model an sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free.</li>
                                        </ul>

                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                            <li>
                                                <p>Infrastructures</p>
                                            </li>
                                            <li><a href="elements.html"><i class="fa fa-angle-right"></i> Salles de classes</a></li>
                                            <li><a href="typography.html"><i class="fa fa-angle-right"></i> Laboratoires</a></li>
                                            <li><a href="pricing-tables.html"><i class="fa fa-angle-right"></i> Salle Informatique</a></li>
                                            <li><a href="columns.html"><i class="fa fa-angle-right"></i> Sports</a></li>
                                        </ul>

                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                            <li>
                                                <p>Scolarite</p>
                                            </li>
                                            <li> <a href="http://gsrthemes.com/hoxa/layout1/fullwidth/index.html"><i class="fa fa-angle-right"></i> Emploi du Temps</a> </li>
                                            <li> <a href="index-1.html"><i class="fa fa-angle-right"></i> Liste des eleves</a> </li>
                                            <li> <a href="http://gsrthemes.com/hoxa/layout2/index.html"><i class="fa fa-angle-right"></i> One Page Theme</a> </li>

                                        </ul>

                                        <ul class="col-sm-6 col-md-3 list-unstyled ">
                                            <li>
                                                <p>Nos Cours</p>
                                            </li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Mega Menu</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Diffrent Websites</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Parallax Backgrounds</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Premium Sliders</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Diffrent Slide Shows</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Video BG Effects</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> 100+ Feature Sections</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Use for any Website</a></li>
                                            <li><a href="#"><i class="fa fa-angle-right"></i> Free Updates</a></li>
                                        </ul>

                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>

                    <li> <a href="#"><i class="fa fa-pagelines"></i> News</a></li>

                    <li> <a href="{{ path('castor_front_gallery') }}"><i class="fa fa-file-image-o"></i> Gallerie</a></li>

                    <li> <a href="#" ><i class="fa fa-code"></i> E-Learning</a></li>

                    <li> <a href="{{ path('castor_front_contact') }}" ><i class="fa fa-phone"></i> Contact</a></li>

                </ul>

                <div id="wrap">
                    <form action="index.html" autocomplete="on">
                        <input id="search" name="search" type="text" placeholder=""><input id="search_submit" value="search" type="submit">
                    </form>
                </div>

            </div>
        </div>
    </div>

</div><!-- end menu -->