<div class="slidershadow">&nbsp;</div>

<div class="mstslider">
    <div class="master-slider ms-skin-default" id="masterslider">

        <!-- slide -->
        <div class="ms-slide slide-1" data-delay="9">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x580" alt="Slide1 background"/>

            <img src="js/masterslider/blank.gif" data-src="http://placehold.it/700x540" alt=""
                 style="left:112px; top:40px;"
                 class="ms-layer"
                 data-type="image"
                 data-delay="400"
                 data-effect="bottom(300)"
                 data-duration="1800"
                 data-ease="easeOutExpo"
                    />


            <h1 class="ms-layer stext1"
                style="left: 820px; top: 162px;"
                data-type="text"
                data-duration="900"
                data-delay="1800"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                Hello! This is Hoxa.<br />
                Find the <em>Benefits</em> of Using<br />
                Recommended to <strong>Highly</strong>.
            </h1>

            <h4 class="ms-layer stext2"
                style="left: 820px; top: 327px;"
                data-type="text"
                data-duration="900"
                data-delay="2500"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                Creative. Clean Design. Let’s Start an Awesome Project.
            </h4>

            <div class="ms-layer"
                 style="left: 825px; top: 404px;"
                 data-type="text"
                 data-delay="3500"
                 data-ease="easeOutExpo"
                 data-duration="900"
                 data-effect="scale(1.5,1.6)"
                    >
                <a href="#" class="sbutton1">Get Started Now!</a>
            </div>


        </div>
        <!-- end of slide -->

        <!-- slide -->
        <div class="ms-slide slide-2" data-delay="8">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x580" alt="Slide1 background"/>

            <img src="js/masterslider/blank.gif" data-src="images/sliders/master/slide2/ipad.png" alt=""
                 style="left:800px; top:81px;"
                 class="ms-layer"
                 data-type="image"
                 data-effect="right(100)"
                 data-ease="easeOutExpo"
                    />

            <img src="js/masterslider/blank.gif" data-src="images/sliders/master/slide2/iphone.png" alt=""
                 style="left:720px; top:239px;"
                 class="ms-layer"
                 data-type="image"
                 data-effect="right(300)"
                 data-ease="easeOutExpo"
                 data-duration="900"
                 data-delay="400"
                    />


            <h1 class="ms-layer stext1"
                style="left: 130px; top: 162px;"
                data-type="text"
                data-duration="900"
                data-delay="1300"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                Responsive Design<br />
                Addapts to <strong>iPhone</strong>,<br />
                <strong>iPad</strong> Devices.
            </h1>

            <h4 class="ms-layer stext2"
                style="left: 130px; top: 327px;"
                data-type="text"
                data-duration="900"
                data-delay="1800"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                Website Accessible as Possible on all Devices.
            </h4>

            <h6 class="ms-layer"
                style="left: 130px; top: 404px;"
                data-type="text"
                data-delay="2500"
                data-ease="easeOutExpo"
                data-duration="900"
                data-effect="scale(1.5,1.6)"
                    >
                <a href="#" class="sbutton1">Read More</a>
            </h6>


        </div>
        <!-- end of slide -->

        <!-- Video Slide -->
        <div class="ms-slide slide-video" data-delay="15">
            <img src="js/masterslider/blank.gif" alt="" data-src="http://placehold.it/1920x580">

            <div class="ms-layer hps-vicapton-box"
                 style="left:400px; top:223px"
                 data-effect="bottom(150)"
                 data-duration="2800"
                 data-ease="easeOutExpo"
                    ></div>

            <h3 class="ms-layer hps-videotitle"
                style="left: 435px; top:237px;"
                data-delay="900"
                data-duration="3000"
                data-ease="easeOutExpo"
                data-effect="rotate3dright(0,20,0,0)"
                    >HD video backgrounds</h3>

            <p class="ms-layer hps-videotext"
               style="left: 300px; top:300px;"
               data-delay="1800"
               data-ease="easeOutExpo"
               data-duration="1300"
               data-effect="bottom(150)"
                    >
                Now you can add high quality videos as slide background.
            </p>

            <video data-autopause="false" data-mute="true" data-loop="true" data-fill-mode="fill">
                <source id="mp4" src="images/sliders/master/video/video2.mp4" type="video/mp4"/>
                <source id="webm" src="images/sliders/master/video/video.webm" type="video/webm"/>
                <source id="ogv" src="images/sliders/master/video/video.ogv" type="video/ogg"/>
            </video>

        </div>


        <!-- new slide -->
        <div class="ms-slide slide-3" data-delay="8">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="http://placehold.it/1920x580" alt=""/>

            <h1 class="ms-layer stext1"
                style="left: 365px;top: 74px;"
                data-type="text"
                data-duration="1300"
                data-delay="0"
                data-ease="easeOutExpo"
                data-effect="rotatefront(-40,900,tr)"
                    >
                Give your Website Brand New Look!
            </h1>

            <h1 class="ms-layer stext1"
                style="left: 445px;top: 126px;"
                data-type="text"
                data-duration="1300"
                data-delay="400"
                data-ease="easeOutExpo"
                data-effect="rotate3dright(10,50,0,50)"
                    >
                <strong>Designed for Any Website!</strong>
            </h1>

            <h4 class="ms-layer stext2"
                style="left: 475px; top: 190px;"
                data-type="text"
                data-duration="900"
                data-delay="900"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                Corporate. Creative. Landing Page. One Page Themes.
            </h4>

            <div class="ms-layer scircle1"
                 style="left: 300px; top: 260px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1300"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <div><span></span></div>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 345px; top: 287px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1400"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <i class="fa fa-umbrella"></i>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 318px; top: 335px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1500"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <h6>Mega Menu</h6>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 470px; top: 260px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1300"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <div><span></span></div>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 513px; top: 287px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1400"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <i class="fa fa-cog"></i>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 495px; top: 335px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1500"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <h6>Multi Sites</h6>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 640px; top: 260px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1300"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <div><span></span></div>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 680px; top: 287px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1400"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <i class="fa fa-leaf"></i>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 652px; top: 335px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1500"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <h6>100+ Features</h6>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 810px; top: 260px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1300"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <div><span></span></div>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 849px; top: 287px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1400"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <i class="fa fa-coffee"></i>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 829px; top: 335px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1500"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <h6>Slideshows</h6>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 980px; top: 260px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1300"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <div><span></span></div>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 1020px; top: 287px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1400"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <i class="fa fa-cloud-upload"></i>
            </div>

            <div class="ms-layer scircle1"
                 style="left: 1000px; top: 335px;"
                 data-type="text"
                 data-duration="900"
                 data-delay="1500"
                 data-ease="easeOutExpo"
                 data-effect="bottom(40)"
                    >
                <h6>Clean Style</h6>
            </div>

            <div class="ms-layer"
                 style="left: 550px; top: 460px;"
                 data-type="text"
                 data-delay="2500"
                 data-ease="easeOutExpo"
                 data-duration="900"
                 data-effect="scale(1.5,1.6)"
                    >
                <a href="#" class="sbutton1">Purchase Now!</a>
            </div>

            <div class="ms-layer"
                 style="left: 750px; top: 460px;"
                 data-type="text"
                 data-delay="2500"
                 data-ease="easeOutExpo"
                 data-duration="900"
                 data-effect="scale(1.5,1.6)"
                    >
                <a href="#" class="sbutton1">Read More</a>
            </div>

        </div>
        <!-- end of slide -->

    </div>
</div>

</div><!-- end slider -->